<main>
    <form (submit)="onSubmit()" [formGroup]="passwordForm">
        <div class="field-row">
            <label for="oldPassword">Current Password</label>
            <input id="oldPassword" type="password" placeholder="Enter your current password" formControlName="oldPassword">
        </div>
        <div class="field-row">
            <label for="newPassword">New Password</label>
            <input id="newPassword" type="password" placeholder="Enter your new password" formControlName="newPassword">
        </div>
        <div class="form-actions">
            @if (errorMessage) {
                <p class="error">{{ errorMessage }}</p>
            }
            @if (succesMessage) {
                <p class="success">{{ succesMessage }}</p>
            }
            <button class="btn btn-primary" type="submit">UPDATE PASSWORD</button>
        </div>
    </form>
</main>