<h1>Anki-Style Game</h1>
@if(!isGameInitialized){
<div class="anki-form-container">
    <section>
        <form [formGroup]="ankiForm" (ngSubmit)="onSubmit()">
            <div class="labelContainer">
                <div>
                    <label for="sourceLanguage">Source Language:</label>
                    <input id="sourceLanguage" formControlName="sourceLanguage" placeholder="Example: en">
                </div>
                <div>
                    <label for="targetLanguage">Target Language:</label>
                    <input id="targetLanguage" formControlName="targetLanguage" placeholder="Example: es">
                </div>
            </div>

            <div class="buttonContainer">
                <button type="submit" class="btn btn-primary" [disabled]="!ankiForm.valid">Initialize Game</button>
            </div>
        </form>
    </section>
</div>
}@else if (isGameInitialized && !isLastCardSame()) {
<div class="anki-game-container">
    <div class="card">
        <p>{{ ankiCard?.word }}</p>
        @for (translation of ankiCard?.translations; track $index) {
        <p>{{ translation }}</p>
        }
    </div>

    <div class="button-group">
        <button class="btn btn-danger" (click)="reviewAnkiCard(ankiCard?.id || '', 1)">Forget</button>
        <button class="btn btn-success" (click)="reviewAnkiCard(ankiCard?.id || '', 3)">Remember</button>
    </div>
</div>
}@else if (isLastCardSame()) {
<div class="anki-final-container">
    <img src="https://www.clipartmax.com/png/middle/42-421482_embed-this-clipart-green-check-mark-transparent.png"
        alt="Congratulations" width="200" height="200">
    <p>Congratulations! You've completed the Anki-style game. Next review at {{ formatingData(ankiCard?.nextReviewAt || '') }}</p>
</div>
}